<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>아이오티린이</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="">동국대학교 사물인터넷프로젝트</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="">개발동기/목적/필요성 및 개발 목표</a></li>
					<li><a href="">개발환경</a></li>
					<li><a href="">기대효과</a></li>
					<li><a href="">실시간 센서 데이터 테이블</a></li>
					<li><a href="">프로젝트 기여자</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>교내자율학습공간 환경 모니터링 서비스</h1>
					<p><a href="">#교내학습공간</a>
					<a href="">#환경모니터링</a>
					<a href="">#미세먼지</a>
					<a href="">#온습도</a>
					<a href="">#사용여부</a></p>			
				</div>
				<video autoplay loop muted playsinline src="{{ url_for('static', filename='images/banner.mp4') }}"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>개발동기/목적/필요성 및 개발 목표</h2>
						<p>교내 학습 공간의 주 사용자인 동국대 학생들은 적절한 학습 공간을 찾기 위해 직접 건물별 학습 공간을 찾아가야 하는 불편함을 겪고 있다. 또한 특정 학습 공간의 미세먼지 농도가 높거나 하는 환경적인 문제가 발생하더라도 학생 개인이 이를 쉽게 알아차리기가 어렵다. 이 두 문제를 해결하기 위해 원격으로도 해당 스터디룸이 사용 가능한지 확인할 수 있고, 환경 모니터링을 하여 자동으로 쾌적한 학습 환경을 조성해주는 서비스를 만들고자 하였다. </p>
						<p>교내 I-space, 아리수와 같은 학습 공간은 외부에서 사람이 있는지, 환경은 어떠한지 파악하기 어렵다. 그렇기 때문에 미세먼지 센서, 온습도 센서를 통해 학습공간의 상태 데이터를 받고 모니터로 출력시킨다. 그리고 실내 미세먼지가 높거나, 온도에 비해 습도가 적정한 상태가 아닐 경우 모터를 구동하여 환기를 시킨다. 또한 초음파센서와 움직임센서로 학습 공간 내의 스터디룸에 사람 유무를 파악하여 해당 스터디룸을 이용할 수 있는지 텔레그램을 통해 확인 가능하다. 미세먼지, 온습도의 경우에도 텔레그램을 통해 상태 데이터를 확인할 수 있다.</p>
						<p>즉, 사물인터넷을 활용하여 학습공간의 사용여부를 파악하고 온습도, 미세먼지와 같은 환경 정보를 수집하여 텔레그램을 통해 학생들에게 제공하고자 한다. 또한 센서 데이터를 저장하여 차후 교내 학습 공간의 문제 개선에 활용할 수 있는 기반을 마련하고자 한다.</p>
					</header>
					<h2 align="center">개발환경</h2>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>움직임센서</h3>
								</header>
								<p>초음파센서와 함께 자율학습 공간 내 사용자 유무를 판단하기 위해 사용한다. 텔레그램으로 센서 데이터를 전송합니다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>초음파센서</h3>
								</header>
								<p>움직임센서와 함께 자율학습 공간 내 사용자 유무를 판단하기 위해 사용한다. 텔레그램으로 센서 데이터를 전송한다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>온습도센서</h3>
								</header>
								<p>미세먼지센서와 함께 자율학습 공간 내 환풍기(모터) 작동 필요성 판단을 위해 사용한다. 텔레그램으로 센서 데이터를 전송한다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>미세먼지센서</h3>
								</header>
								<p>온습도센서와 함께 자율학습 공간 내 환풍기(모터) 작동 필요성 판단을 위해 사용한다. 텔레그램으로 센서 데이터를 전송한다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>라즈베리파이</h3>
								</header>
								<p>연결된 모니터에 실시간 센서 데이터 테이블이 담긴 html 페이지를 출력한다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Arduino-Node MCU</h3>
								</header>
								<p>센서부에서 받은 센서 데이터를 중개한다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>환풍기(모터)</h3>
								</header>
								<p>온습도센서, 미세먼지센서 데이터에 따라 작동한다.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>기대효과</h2>
					<p>학습 공간의 주 사용자인 동국대 학생들이 학습 장소를 찾기 위한 불필요한 시간 낭비를 줄일 수 있으며, 쾌적한 학습 공간을 조성하여 학생들의 학습 효율을 높일 수 있다. 또한 학습 공간의 개선을 위한 추가적인 비용 소모를 절감할 수 있다.</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>실시간 센서 데이터 테이블</h2>
						<table class="table table-hover" style="table-layout:fixed; word-break:break-all; text-align: center;">
                        <thead>
                            <tr>
                                <td>Date time</td>
                                <td>Temperature</td>
                                <td>Humidity</td>
                                <td>Name</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(1, 6) %}
                            <tr>
                                <td id="id_table_{{i}}_date"></td>
                                <td id="id_table_{{i}}_temp"></td>
                                <td id="id_table_{{i}}_humid"></td>
                                <td id="id_table_{{i}}_name"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
					<div class="col-3 col-12-small">
						<a href="#" class="button primary fit">새로고침</a>
					</div>
					</header>
					<h2 align="center">프로젝트 기여자</h2>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>센서부</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
										
									</div>
									<p class="credit">- <strong>노주희</strong> <span>팀원 - 교육학과</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>웹 디자인</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
										
									</div>
									<p class="credit">- <strong>박현준</strong> <span>팀장 - 교육학과</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>센서부, 데이터 전송 등등 주요 업무 다수 11</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
										
									</div>
									<p class="credit">- <strong>송채연</strong> <span>팀원 - 바이오환경과학과</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>텔레그램 챗봇, 서버 연결 등등 주요 업무 다수 22</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
										
									</div>
									<p class="credit">- <strong>정영준</strong> <span>팀원 - 산업시스템공학과</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>최고의 교수님</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" />
									</div>
									<p class="credit">- <strong>신연순</strong> <span>교수</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>최고의 조력자</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" />
									</div>
									<p class="credit">- <strong>최정환</strong> <span>조교</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>

	<script>

    $(document).ready(function () {
        $.getJSON('/getData', function (data) {
            for (i = 0; i < 5; i++) {
                const t = toString(i + 1);
                $('#id_table_'.concat(i + 1, '_date')).text(data[i][3]);
                $('#id_table_'.concat(i + 1, '_temp')).text(data[i][1] + '˚C');
                $('#id_table_'.concat(i + 1, '_humid')).text(data[i][2] + '%');
                $('#id_table_'.concat(i + 1, '_name')).text(data[i][4]);
            }
        });
    })
	</script>

</html>